body{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}

#btn, #btn-res{
    font-family: cursive;
    font-size: 15px;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 80px;
}

h3{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;

}

#mainResult{
    border-color: white;
    border: solid;
    border-width: 3px;
}
#btn-res{
    display: none;
    margin-top: 20px;
}

img{
    margin-left: 50px;   
}